<!DOCTYPE html>
<html>
<head>
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="styles.css"> <!-- Link to the styles.css file -->
</head>
<body>
  <nav class="navbar-index"> <!-- Use the new navbar class specific to the index page -->
    <h1>Expenses</h1>
      <%= form_tag(search_expenses_path, method: :get) do %>
        <%= text_field_tag :search_term, params[:search_term], placeholder: "Search by user name" %>
        <%= submit_tag "Search" %>
      <% end %>
    <div>
      <%= link_to "New expense", new_expense_path %>
      <%= link_to "Expense Reports", expense_reports_path %>
      <%= link_to "Back to Home", root_path %>
    </div>
  </nav>

  <div id="expenses">
    <% @expenses.each do |expense| %>
      <% @comments = expense.comments %>
      <%= render expense %>
      <%= link_to "Show this expense", expense_path(expense)%>
      <%= button_to "Destroy this expense", expense, method: :delete %>
    <% end %>
  </div>
</body>
</html>
